.info {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @include adaptiv-marginBottom(78, 60);
    &__container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    &__teamCase {
        width: 100%;
        max-width: 845px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0.1);
        border-radius: 10px;
        &-head {
            &-heading {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                @include adaptiv-font(20, 18);
                @include adaptiv-lineHeight(24, 22);
                color: #ffffff;
                padding: 20px;
                display: flex;
                justify-content: flex-start;
                background: linear-gradient(
                    90.5deg,
                    #2660ae -4.69%,
                    #0ea1d2 112.03%
                );
                border-radius: 10px 10px 0px 0px;
            }
        }
        &-content {
            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
                padding-bottom: 10px;
                border-bottom: 1px solid #d9d9d9;
                @include adaptiv-marginLeft(20, 10);
                @include adaptiv-marginRight(20, 10);
                margin-bottom: 10px;
                &-player {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 362px;
                    margin-left: 10px;
                }
                &-amplya {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    text-align: center;
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 141px;
                }
                &-year {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 124px;
                }
                &-number {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 58px;
                    margin-right: 20px;
                }
            }
            &-body {
                margin-bottom: 20px;
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: 10px;
                    padding-right: 20px;
                    padding-bottom: 15px;
                    @include adaptiv-marginLeft(20, 10);
                    @include adaptiv-marginRight(20, 10);
                    &-name {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        text-decoration-line: underline;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 362px;
                        transition: all 0.3s;
                    }
                    &-name:hover {
                        transition: all 0.3s;
                        color: #952212;
                    }
                    &-amplya {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 141px;
                    }
                    &-year {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 124px;
                    }
                    &-number {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 58px;
                    }
                    &-grey {
                        background: #f7f7f7;
                    }
                }
                &-item.first-grey {
                    padding-top: 5px;
                }
                &-item.last-grey {
                    padding-bottom: 5px;
                }
                &-item.white-start {
                    padding-top: 10px;
                }
                &-item.white-end {
                    padding-bottom: 10px;
                }
                &-item.last-grey {
                    padding-bottom: 5px;
                }
            }
        }
    }
    &__teamCase:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0);
    }
    &__play {
        margin-left: 25px;
        width: 100%;
        max-width: 630px;
    }

    &__match {
        margin-bottom: 23px;
    }

    &__last {
        width: 100%;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    &__last:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0);
    }

    &__chart {
        width: 100%;
    }

    &__bombardier {
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        border-left: 1px solid rgba(27, 27, 27, 0.1);
        border-right: 1px solid rgba(27, 27, 27, 0.1);
        border-bottom: 1px solid rgba(27, 27, 27, 0.1);
        &-heading {
            display: flex;
            justify-content: flex-start;
            padding: 20px;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            border-radius: 10px 10px 0px 0px;
            h2 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                @include adaptiv-font(20, 18);
                @include adaptiv-lineHeight(24, 22);
                color: #ffffff;
            }
        }
        &-body {
            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 15px;
                margin-left: 20px;
                margin-right: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #d9d9d9;
                &-player {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 176px;
                    padding-left: 10px;
                }
                &-team {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                    color: #1b1b1b;
                    width: 100%;
                    max-width: 77px;
                    margin-left: 58px;
                }
                &-case {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 211px;
                    &-i {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 30px;
                    }
                    &-sh {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 30px;
                    }
                    &-a {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 30px;
                    }
                    &-o {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-align: center;
                        color: #1b1b1b;
                        width: 100%;
                        max-width: 30px;
                    }
                }
            }
            &-content {
                margin-top: 10px;
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 0px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    &-player {
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-decoration-line: underline;
                        color: #1b1b1b;
                        transition: all 0.3s;
                        width: 100%;
                        max-width: 176px;
                        padding-left: 10px;
                    }
                    &-player:hover {
                        transition: all 0.3s;
                        color: #952212;
                    }
                    &-img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        max-width: 42px;
                        height: 42px;
                        margin-left: 58px;
                        img {
                            width: 37px;
                            height: 37px;
                        }
                    }
                    &-case {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 211px;
                        &-i {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            text-align: center;
                            color: #1b1b1b;
                            width: 100%;
                            max-width: 30px;
                        }
                        &-sh {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            text-align: center;
                            color: #1b1b1b;
                            width: 100%;
                            max-width: 30px;
                        }
                        &-a {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            text-align: center;
                            color: #1b1b1b;
                            width: 100%;
                            max-width: 30px;
                        }
                        &-o {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            text-align: center;
                            color: #1b1b1b;
                            width: 100%;
                            max-width: 30px;
                        }
                    }
                    &-grey {
                        background: #f7f7f7;
                    }
                }
                &-item:first-child {
                    padding: 10px 0px;
                }
                &-item:last-child {
                    margin-bottom: 20px;
                }
            }
            &-all {
                display: block;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: underline;
                color: #952212;
                text-align: right;
                margin: 10px 20px 15px 0px;
                transition: all 0.3s;
            }
            &-all:hover {
                transition: all 0.3s;
                cursor: pointer;
                color: #b34030;
            }
        }
    }
    &__bombardier:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        border-left: 1px solid rgba(27, 27, 27, 0);
        border-right: 1px solid rgba(27, 27, 27, 0);
        border-bottom: 1px solid rgba(27, 27, 27, 0);
    }

    &__row {
        @include adaptiv-marginRight(30, 16);
        @include adaptiv-marginLeft(25, 16);
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;

        &--first {
            padding: 15px 0px 10px 0px;
            @include adaptiv-marginRight(40, 19);
            @include adaptiv-marginLeft(30, 15);
            border-bottom: 1px solid rgba(217, 217, 217, 0.4);
        }

        &--last {
            @include adaptiv-marginBottom(30, 16);
        }

        &--even {
            background: rgba(217, 217, 217, 0.2);
        }

        &--title {
            display: block;
            border-radius: 10px 10px 0px 0px;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            width: 100%;
        }
    }

    &__command {
        width: 50%;

        &-text {
            display: flex;
            text-align: left;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 10);
            line-height: 150%;
            color: #1b1b1b;
            align-items: center;
            padding-left: 9px;

            &:hover {
                transition: all 0.3s;
                color: #952212;
            }
        }

        &-img {
            width: 40px;
            @include adaptiv-marginRight(13, 5);
        }

        &--head {
        }
    }

    &__scroll {
        height: 595px;
        overflow-x: auto;
    }
    &__scroll::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }
    &__scroll::-webkit-scrollbar-track {
        background: rgba(217, 217, 217, 0.5);
    }
    &__scroll::-webkit-scrollbar-thumb {
        background: #952212;
        border-radius: 5px;
        height: 106px;
        max-height: 106px;
    }

    &__title {
        display: flex;
        align-self: flex-start;
        padding: 20px;
        width: 100%;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(20, 12);
        @include adaptiv-lineHeight(24, 22);
        color: #ffffff;

        &--double {
            display: flex;
            justify-content: flex-start;
            padding: 20px;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            border-radius: 10px 10px 0px 0px;
        }

        &--tab {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            @include adaptiv-font(20, 18);
            @include adaptiv-lineHeight(24, 22);
            color: #ffffff;

            &:hover {
                transition: all 0.3s;
                color: #ffffff;
            }
        }
    }
}

@media (max-width: 1600px) {
    .info {
        &__play {
            width: 55%;
        }
        &__name {
            display: block;
        }
    }
}

@media (max-width: 1550px) {
    .info {
        &__container {
            margin-right: 19px;
            margin-left: 19px;
        }
        &__name {
            display: none;
        }
        &__bombardier {
            &-body {
                &-heading {
                    &-team {
                        margin-left: 0px;
                    }
                }
                &-content {
                    &-item {
                        &-img {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .info {
        &__play {
            width: 60%;
        }
    }
}

@media (max-width: 1450px) {
    .info {
        &__teamCase {
            width: 945px;
            max-width: initial;
        }
        &__play {
            width: 55%;
        }
    }
}

@media (max-width: 1300px) {
    .info {
        &__teamCase {
            width: 945px;
        }
        &__play {
            width: 65%;
        }
    }
}

@media (max-width: 1200px) {
    .info {
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
        &__teamCase {
            width: 100%;
            max-width: 845px;
            margin-bottom: 15px;
            &-head {
                &-heading {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            &-content {
                &-heading {
                    margin-right: 20px;
                    margin-left: 20px;
                    &-player {
                        font-size: 16px;
                        line-height: 20px;
                        margin-left: 5px;
                        max-width: 257px;
                    }
                    &-amplya {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    &-year {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    &-number {
                        font-size: 16px;
                        line-height: 20px;
                        margin-right: 10px;
                    }
                }
                &-body {
                    &-item {
                        margin-left: 15px;
                        margin-right: 15px;
                        padding-right: 20px;
                        &-name {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 257px;
                        }
                        &-amplya {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        &-year {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        &-number {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        &__play {
            width: 100%;
            max-width: 730px;
            margin-left: 0px;
        }
        &__title {
            &--tab {
                font-size: 20px;
                line-height: 24px;
            }
        }
        &__name {
            display: block;
        }
        &__match {
            margin-bottom: 15px;
        }
        &__matches {
            padding: 0 63px;
        }
        &__scroll {
            height: 464px;
        }
        &__bombardier {
            &-heading {
                h2 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
            &-body {
                &-heading {
                    margin-right: 10px;
                    margin-left: 10px;
                    &-player {
                        font-size: 16px;
                        line-height: 20px;
                        max-width: 240px;
                    }
                    &-team {
                        font-size: 16px;
                        line-height: 20px;
                        max-width: 105px;
                        margin-left: 37px;
                    }
                    &-case {
                        max-width: 255px;
                        &-i {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 60px;
                        }
                        &-sh {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 60px;
                        }
                        &-a {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 60px;
                        }
                        &-o {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 60px;
                        }
                    }
                }
                &-content {
                    &-item {
                        margin-left: 10px;
                        margin-right: 10px;
                        &-player {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 241px;
                        }
                        &-img {
                            width: 100%;
                            max-width: 104px;
                        }
                        &-case {
                            max-width: 255px;
                            &-i {
                                font-size: 16px;
                                line-height: 20px;
                                max-width: 60px;
                            }
                            &-sh {
                                font-size: 16px;
                                line-height: 20px;
                                max-width: 60px;
                            }
                            &-a {
                                font-size: 16px;
                                line-height: 20px;
                                max-width: 60px;
                            }
                            &-o {
                                font-size: 16px;
                                line-height: 20px;
                                max-width: 60px;
                            }
                        }
                    }
                }
                &-all {
                    font-size: 16px;
                    line-height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .info {
        margin-bottom: 28px;
        &__container {
            margin-right: 0px;
            margin-left: 0px;
        }
        &__teamCase {
            &-head {
                &-heading {
                    @include adaptiv-font(20, 18);
                    @include adaptiv-lineHeight(24, 22);
                }
            }
            &-content {
                &-heading {
                    margin-right: 10px;
                    margin-left: 10px;
                    &-player {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        max-width: 105px;
                    }
                    &-amplya {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        max-width: 61px;
                    }
                    &-year {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        text-align: center;
                        max-width: 79px;
                    }
                    &-number {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        margin-right: 0px;
                    }
                }
                &-body {
                    &-item {
                        margin-right: 10px;
                        margin-left: 10px;
                        &-name {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 75px;
                        }
                        &-amplya {
                            @include adaptiv-font(16, 10);
                            @include adaptiv-lineHeight(20, 12);
                            max-width: 61px;
                        }
                        &-year {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 34px;
                        }
                        &-number {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 34px;
                        }
                    }
                }
            }
        }
        &__title {
            &--tab {
                @include adaptiv-font(20, 18);
                @include adaptiv-lineHeight(24, 22);
            }
        }
        &__bombardier {
            &-heading {
                h2 {
                    @include adaptiv-font(20, 18);
                    @include adaptiv-lineHeight(24, 22);
                }
            }
            &-body {
                &-heading {
                    &-player {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        max-width: 110px;
                    }
                    &-team {
                        @include adaptiv-font(16, 14);
                        @include adaptiv-lineHeight(20, 17);
                        margin-left: 0px;
                        max-width: 67px;
                    }
                    &-case {
                        max-width: 125px;
                        &-i {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 20px;
                        }
                        &-sh {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 20px;
                        }
                        &-a {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 20px;
                        }
                        &-o {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 20px;
                        }
                    }
                }
                &-content {
                    &-item {
                        margin-left: 10px;
                        margin-right: 10px;
                        &-player {
                            @include adaptiv-font(16, 14);
                            @include adaptiv-lineHeight(20, 17);
                            max-width: 110px;
                        }
                        &-img {
                            max-width: 67px;
                            margin-left: 10px;
                        }
                        &-case {
                            max-width: 128px;
                            &-i {
                                @include adaptiv-font(16, 14);
                                @include adaptiv-lineHeight(20, 17);
                                max-width: 20px;
                            }
                            &-sh {
                                @include adaptiv-font(16, 14);
                                @include adaptiv-lineHeight(20, 17);
                                max-width: 20px;
                            }
                            &-a {
                                @include adaptiv-font(16, 14);
                                @include adaptiv-lineHeight(20, 17);
                                max-width: 20px;
                            }
                            &-o {
                                @include adaptiv-font(16, 14);
                                @include adaptiv-lineHeight(20, 17);
                                max-width: 20px;
                            }
                        }
                    }
                }
                &-all {
                    @include adaptiv-font(16, 14);
                    @include adaptiv-lineHeight(20, 17);
                }
            }
        }
        &__matches {
            padding: 0px 10px;
        }
    }
}

@media (max-width: 600px) {
    .info {
        width: 100%;
        &__row {
            padding-bottom: 8px;
            padding-right: 0px;
            &--first {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 380px) {
    .info {
        &__scroll {
            overflow-x: hidden;
        }
    }
}
