.photos {
    @include adaptiv-marginTop(70, 61);
    display: flex;
    justify-content: center;

    .photos__container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .slider-photo {
        display: flex;
        &-item {
            width: 678px;
            height: 448px;
            margin: 120px 80px 120px 80px;
            position: relative;
        }
        &__arrows {
            display: flex;
            justify-content: center;
            margin-top: 33px;
        }
    }
    .slider-photo .slider-photo-item img {
        width: 678px;
        height: 448px;
        opacity: 0.5;
        border-radius: 10px;
        transition: all linear 0.4s;
    }
    .slider-photo .slick-center img {
        transform: scale(1.38, 1.53);
        opacity: 1;
        border-radius: 10px;
    }

    .photos__text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #952212;
        cursor: pointer;
    }

    .photos__text:hover {
        color: #b34030;
        transition: all 0.3s;
    }

    .photos__nav--link {
        outline: none;
        text-decoration: none;
        align-self: end;
    }

    .photos__href {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .photos {
        .slider-photo__arrows {
            display: none;
        }
        .slider-photo-item {
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            @include adaptiv-marginRight(30, 14);
        }
        &__nav--link {
            margin-top: 20px;
        }
        .slider-photo .slider-photo-item img {
            opacity: 1;
        }
    }
}

@media (max-width: 767px) {
    .photos {
        .photos__container {
            width: 100%;
            padding-left: 5%;
        }
        .slider-photo-item {
            width: 324px;
            height: 317px;
        }
        .slider-photo .slider-photo-item img {
            width: 324px;
            height: 317px;
        }
        .photos__nav--link {
            padding-right: 17px;
        }
    }
}
