.photos {
    @include adaptiv-marginTop(39, 15);
    @include adaptiv-marginBottom(113, 15);
    display: flex;
    justify-content: center;
    .photos__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .slider-photo {
        display: flex;
        &-item {
            width: 678px;
            height: 555px;
            margin: 66px 100px 66px 100px;
            position: relative;
        }
        &-wrapper {
            position: relative;
            margin-top: 23px;
            &-right {
                position: absolute;
                right: 5.4%;
                top: 9px;
            }
        }
        &__arrows {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slider-photo .slider-photo-item img {
        width: 678px;
        height: 555px;
        opacity: 0.5;
        border-radius: 10px;
        transition: all linear 0.4s;
    }
    .slider-photo .slick-center img {
        transform: scale(1.51327, 1.23243);
        opacity: 1;
        border-radius: 10px;
    }
    .photos__text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(20, 17);
        text-decoration-line: underline;
        color: #952212;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .photos__text:hover {
        color: #b34030;
        transition: all 0.3s ease;
    }
    .photos__nav--link {
        outline: none;
        text-decoration: none;
        display: flex;
    }
    .photos__href {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .photos {
        .slider-photo-wrapper {
            margin-top: 0px;
            &-right {
                top: -14px;
                right: 0;
            }
        }
        margin-top: 18px;
        .photos__container {
            width: 95.053%;
        }
        .slider-photo-item {
            width: 730px;
            height: 486px;
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            @include adaptiv-marginRight(30, 14);
        }
        .slider-photo .slider-photo-item img {
            width: 730px;
            height: 486px;
            opacity: 1;
        }
        &__nav--link {
            margin-top: 20px;
        }
        .photos__text {
            font-size: 16px;
            line-height: 20px;
        }
        .slider-photo {
            flex-direction: column;
        }
        .slider-dots {
            display: flex;
        }
        .slider-dots li:not(:nth-child(-n + 4)) {
            display: none;
        }
        .slider-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
        .slider-photo-wrapper-right {
            right: 0;
        }
        .photos__nav--link {
            margin-top: 0px;
        }
        .slider-dots li {
            list-style: none;
            margin-right: 10px;
        }
        .slider-dots li:nth-child(4) {
            list-style: none;
            margin-right: 0px;
        }
        .slider-dots li:nth-child(1) button {
            width: 12px;
            height: 12px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider-dots li.slick-active:nth-child(1) button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }
        .slider-dots li:nth-child(2) button {
            width: 8px;
            height: 8px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider-dots li.slick-active:nth-child(2) button {
            background: #952212;
            border: 1px solid #952212;
            width: 8px;
            height: 8px;
        }
        .slider-dots li:nth-child(3) button {
            width: 6px;
            height: 6px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider-dots li.slick-active:nth-child(3) button {
            background: #952212;
            border: 1px solid #952212;
            width: 6px;
            height: 6px;
        }
        .slider-dots li:nth-child(4) button {
            width: 4px;
            height: 4px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider-dots li.slick-active:nth-child(4) button {
            background: #952212;
            border: 1px solid #952212;
            width: 4px;
            height: 4px;
        }
        .slider-dots button {
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }

        .slider-dots li.slick-active button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }
    }
}

@media (max-width: 767px) {
    .photos {
        margin-top: 19px;
        .slider-dots {
            margin-top: 6px;
        }
        .slider-photo .slick-list {
            padding-left: 0px;
            margin-left: 16px;
        }
        .photos__text {
            @include adaptiv-font(16, 14);
            @include adaptiv-lineHeight(20, 17);
        }
        .slider-photo-wrapper-right {
            top: -12px;
            right: 16px;
        }
        .photos__container {
            width: 100%;
            padding-left: 0px;
        }
        .slider-photo-item {
            width: 343px;
            height: 229px;
            margin-right: 8px;
        }
        .slider-photo .slider-photo-item img {
            width: 343px;
            height: 229px;
        }
    }
}
