.news--rhl {
    margin-bottom: 100px;
    &__prev {
        @include adaptiv-font(18, 12);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginTop(50, 30);
        padding-left: 5%;
    }

    &__font a {
        color: rgba(27, 27, 27, 0.5);
    }

    &__block--line {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-left: 5%;
        margin-top: 30px;
    }

    .line {
        height: 2px;
        background: #952212;
        width: 100%;
    }

    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(45, 20);
        @include adaptiv-lineHeight(55, 24);
        letter-spacing: 0.01em;
        color: #1b1b1b;
        width: 100%;
        max-width: 425px;
    }

    &__block {
        background: #ffffff;
        border: 1px solid rgba(27, 27, 27, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px 23px 23px 23px;
        border-radius: 10px;
        @include adaptiv-marginRight(30, 14);
        cursor: pointer;
        background: #f5f5f5;
        opacity: 0.8;
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
            background: #ffffff;
            transform: scale(1.01);
        }
    }

    &__slider {
        display: flex;
        @include adaptiv-marginTop(103, 46);
    }

    &__name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(25, 18);
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginTop(15, 18);
        max-width: 460px;
    }

    &__content {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 12);
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        max-width: 470px;
        @include adaptiv-marginTop(9, 15);
    }

    &__img {
        width: 100%;
        max-width: 470px;
    }

    &__undername {
        display: flex;
        justify-content: space-between;
        @include adaptiv-marginTop(40, 28);
    }

    &__arrows {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    &__data {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 12);
        line-height: 150%;
        color: rgba(27, 27, 27, 0.5);
    }

    &__button {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-weight: bold;
        @include adaptiv-font(18, 12);
        line-height: 150%;
        color: #952212;
        transition: all 0.3s;
        &:hover {
            color: #b34030;
        }
    }
}

@media (max-width: 1024px) {
    .news--rhl {
        &__arrows {
            display: none;
        }
    }
}
