.newsMatch {
    @include adaptiv-marginBottom(100, 60);
    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__prev {
        @include adaptiv-font(18, 12);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginTop(50, 30);
        padding-left: 5%;
    }

    &__font {
        color: rgba(27, 27, 27, 0.5);
    }

    &__block--line {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        @include adaptiv-marginBottom(50, 30);
    }

    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(45, 20);
        line-height: 55px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        padding-left: 5%;
        margin-right: 30px;
        white-space: nowrap;
    }

    .line {
        height: 2px;
        background: #952212;
        width: 100%;
    }

    &__bodyCase {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: flex-end;
    }

    &__organisators {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #1f1412;
        max-width: 582px;
        a {
            color: #952212;
            text-decoration: underline;
        }
        ul {
            margin: 0;
            padding: 0;
        }
    }

    &__videoCase {
        display: flex;
        flex-direction: column;
    }

    &__videoFirst {
        margin-right: 41px;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: #1f1412;
            @include adaptiv-font(18, 15);
            @include adaptiv-marginBottom(25, 5);
            max-width: 518px;
        }
        video {
            border-radius: 9.46009px;
        }
    }

    &__videoSecond {
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: #1f1412;
            @include adaptiv-font(18, 15);
            @include adaptiv-marginBottom(25, 5);
            max-width: 518px;
        }
        video {
            border-radius: 9.46009px;
        }
    }
}

@media (max-width: 1600px) {
    .newsMatch {
        &__organisators {
            margin-left: 50px;
        }
        &__videoCase {
            flex-direction: column;
        }
        &__videoFirst {
            margin-right: 0px;
            margin-left: 0px;
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 900px) {
    .newsMatch {
        &__head {
            white-space: pre-wrap;
            line-height: 24px;
        }
        &__organisators {
            max-width: 518px;
            margin-right: 0px;
        }
        &__bodyCase {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__videoCase {
            margin-left: 0px;
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
    }
}

@media (max-width: 600px) {
    .newsMatch {
        &__videoFirst {
            video {
                width: 100%;
            }
        }
        &__videoSecond {
            video {
                width: 100%;
            }
        }
    }
}
