.match {
    @include adaptiv-marginTop(40, 30);
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    @include adaptiv-marginBottom(78, 30);
    .match__container {
        width: 95.636%;
        margin-left: auto;
    }
    .match__block--line {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-left: 5%;
        @include adaptiv-marginBottom(50, 24);
    }
    .line {
        height: 2px;
        background: #952212;
        width: 100%;
    }
    .match__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: #1b1b1b;
        @include adaptiv-font(40, 20);
        @include adaptiv-lineHeight(49, 24);
        padding-right: 25px;
        white-space: nowrap;
    }
    .match__block {
        display: flex;
        flex-direction: column;
        width: 578px;
        justify-content: space-between;
        position: relative;
        min-width: 0;
        align-items: center;
        padding: 0 20px;
    }
    .match__block:nth-child(2n) {
        border-right: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        width: 580px;
    }
    .match__opposition {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: start;
        @include adaptiv-marginBottom(20, 10);
        min-width: 0;
    }
    .match__command {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 230px;
        min-width: 0;
    }
    .match__data {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        border-top: 1px solid #d9d9d9;
        min-width: 0;
        width: 538px;
    }
    .match__decal {
        align-self: center;
        padding-bottom: 5px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(16, 12);
        @include adaptiv-lineHeight(20, 15);
        letter-spacing: 0.01em;
        color: #952212;
        min-width: 0;
    }
    .match__name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(16, 12);
        @include adaptiv-lineHeight(20, 15);
        text-align: center;
        color: #1b1b1b;
        min-width: 0;
        transition: all 0.3s ease;
        text-decoration-line: underline;
        outline: none;
        max-width: 230px;
        overflow-wrap: break-word;
    }
    .match__name:hover {
        transition: all 0.3s ease;
        color: #952212;
    }
    .match__image {
        width: 80px;
        height: 80px;
        margin-bottom: 11px;
        min-width: 0;
        cursor: pointer;
    }
    .match__time {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(18, 12);
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #952212;
        margin-bottom: 5px;
        padding-top: 10px;
        min-width: 0;
    }
    .match__area {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        @include adaptiv-font(16, 10);
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        min-width: 0;
    }
    .match__live {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        min-width: 0;
        margin: 0 19px;
    }
    .match__arrows {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .match__decal--decal {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(16, 12);
        @include adaptiv-lineHeight(20, 15);
        text-align: center;
        color: #952212;
    }
}

@media (max-width: 1100px) {
    .match {
        .match__container {
            width: 100%;
        }
        .slider .slick-list {
            margin-left: 0px;
            padding-left: 0px;
        }
        .match__block--line {
            padding-left: 16px;
        }
        .match__head {
            font-size: 30px;
            line-height: 37px;
        }
        .match__block {
            padding: 0;
            width: 571px;
        }
        .match__block--line {
            margin-bottom: 20px;
        }
        .match__decal {
            font-size: 16px;
            line-height: 20px;
        }
        .match__opposition {
            margin-bottom: 20px;
            margin-top: 8px;
        }
        .match__block:nth-child(2n) {
            border-right: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
            padding: 0;
            width: 573px;
        }
        .match__time {
            font-size: 16px;
            line-height: 20px;
        }
        .match__area {
            font-size: 16px;
            line-height: 20px;
        }
        .match__command {
            width: 230px;
        }
        .match__live {
            margin: 0 10px;
        }
        .match__arrows {
            margin-top: 0px;
        }
        .match__name {
            font-size: 16px;
            line-height: 20px;
        }
        .slider .slick-dots {
            margin-top: 13px;
            margin-left: 13px;
        }
        .slider .slick-dots li {
            list-style: none;
            margin-right: 10px;
        }
        .slider .slick-dots li:not(:nth-child(-n + 4)) {
            display: none;
        }
        .slider .slick-dots li:nth-child(4) {
            list-style: none;
            margin-right: 15px;
        }
        .slider .slick-dots li:nth-child(1) button {
            width: 12px;
            height: 12px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider .slick-dots li.slick-active:nth-child(1) button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }
        .slider .slick-dots li:nth-child(2) button {
            width: 8px;
            height: 8px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider .slick-dots li.slick-active:nth-child(2) button {
            background: #952212;
            border: 1px solid #952212;
            width: 8px;
            height: 8px;
        }
        .slider .slick-dots li:nth-child(3) button {
            width: 6px;
            height: 6px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider .slick-dots li.slick-active:nth-child(3) button {
            background: #952212;
            border: 1px solid #952212;
            width: 6px;
            height: 6px;
        }
        .slider .slick-dots li:nth-child(4) button {
            width: 4px;
            height: 4px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider .slick-dots li.slick-active:nth-child(4) button {
            background: #952212;
            border: 1px solid #952212;
            width: 4px;
            height: 4px;
        }
        .slider .slick-dots button {
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .slider .slick-dots li.slick-active button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }
    }
}

@media (max-width: 768px) {
    .match {
        margin-top: 44px;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .match {
        .match__head {
            @include adaptiv-font(40, 20);
            @include adaptiv-lineHeight(49, 24);
            padding-right: 20px;
        }
    }
}

@media (max-width: 575px) {
    .match {
        @include adaptiv-marginTop(40, 33);
        @include adaptiv-marginBottom(40, 30);
        .slider .slick-dots {
            margin-top: 11px;
        }
        .match__image {
            width: 50px;
            height: 50px;
            margin-bottom: 5px;
        }
        .match__decal {
            @include adaptiv-font(16, 12);
            @include adaptiv-lineHeight(20, 15);
            padding-bottom: 5px;
        }
        .match__opposition {
            margin-top: 4px;
            margin-bottom: 10px;
        }
        .match__name {
            font-size: 12px;
            line-height: 15px;
            max-width: 150px;
        }
        .match__command {
            max-width: 150px;
        }
        .slider .slick-list {
            margin-left: 0px;
            padding-left: 0px;
        }
        .match__block {
            width: 383px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .match__block:nth-child(2n) {
            width: 383px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .match__time {
            @include adaptiv-font(16, 14);
            @include adaptiv-lineHeight(20, 17);
        }
        .match__area {
            @include adaptiv-font(16, 14);
            @include adaptiv-lineHeight(20, 17);
        }
        .match__data {
            width: 343px;
        }
        .match__opposition {
            width: 343px;
        }
    }
}
@media (max-width: 380px) {
    .match {
        .slider .slick-list {
            padding-left: 16px;
        }
        .match__block {
            width: 343px;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 20px;
        }
        .match__block:nth-child(2n) {
            border-right: none;
            border-left: none;
            padding-left: 0px;
            padding-right: 0px;
            width: 343px;
        }
    }
}
