.header {
    .hidden {
        display: none;
    }

    &__closeSearching {
        display: flex;
        justify-content: end;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20px;
        margin-right: 30px;
    }

    &__searchingPopup {
        padding: 32px 0px 20px 0px;
        margin: 0 auto;
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    &__cross:hover {
        cursor: pointer;
    }

    &__searchingCase {
        &__wrapper {
            width: 100%;
            max-width: 738px;
            min-height: 60px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            background: #ffffff;
            margin-bottom: 10px;
        }
    }

    &__searchingList {
        &-wrapper {
            width: 100%;
            max-width: 738px;
            background: #ffffff;
            border-radius: 10px 5px 5px 10px;
            padding: 10px 0px 0px 15px;
            height: 746px;
            overflow-x: auto;
        }
        &-wrapper::-webkit-scrollbar {
            width: 5px;
            height: 10px;
        }
        &-wrapper::-webkit-scrollbar-track {
            background: #f7f7f7;
            border-radius: 0px 10px 10px 0px;
        }
        &-wrapper::-webkit-scrollbar-thumb {
            background: #952212;
            border-radius: 10px 25px 25px 10px;
            height: 106px;
            max-height: 106px;
        }
        ul {
            padding-left: 0px;
            margin-bottom: 11px;
            width: 100%;
            // max-width: 300px;
            li {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(16, 14);
                @include adaptiv-lineHeight(24, 21);
                color: #1b1b1b;
                margin-bottom: 8px;
                padding-left: 20px;
                a {
                    color: #1b1b1b;
                }
            }
            li.header__searchingList-heading {
                font-weight: 700;
                padding-left: 0px;
            }
        }
    }

    &__searchInput {
        border: none;
        width: 738px;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 5px;
        outline: none; /* Убираем свечение в Chrome и Safari */
        -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
        vertical-align: middle; /* Выравнивание по середине */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(20, 17);
        color: #1b1b1b;
    }

    &__searchBtn {
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        background: url("../images/svg/searchCross.svg") no-repeat 50% 50%;
        margin-right: 15px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(18, 12);
        line-height: 22px;
        color: #1b1b1b;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        @include adaptiv-paddingTop(30, 10);
        @include adaptiv-paddingBottom(19, 15);
    }

    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(18, 12);
        line-height: 22px;
        color: #1b1b1b;
        @include adaptiv-paddingLeft(5, 20);
        margin: auto;
    }

    &__logo {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 495px;
        overflow-wrap: break-word;
    }

    &__img {
        height: 67px;
        margin: auto;
    }

    &__nav {
        display: flex;
        padding: 0px 175px 0px 0px;

        &-item {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            @include adaptiv-font(16, 16);
            @include adaptiv-lineHeight(20, 20);
            color: #1b1b1b;
            white-space: nowrap;

            &:not(:last-child) {
                @include adaptiv-paddingRight(30, 0);
            }

            &:hover {
                transition: all 0.3s ease;
                opacity: 0.5;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;

        &__vk {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../images/svg/vk.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transition: all 0.3s ease;

            &:hover {
                transition: all 0.3s ease;
                background: url("../images/svg/vk-black.svg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }

        &__inst {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../images/svg/inst.svg");
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.3s ease;

            &:hover {
                background: url("../images/svg/inst-black.svg");
                transition: all 0.3s ease;
            }
        }

        &__fb {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../images/svg/fb.svg");
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.3s ease;

            &:hover {
                background: url("../images/svg/fb-black.svg");
                transition: all 0.3s ease;
            }
        }

        &__YT {
            display: block;
            width: 24px;
            height: 24px;
            background: url("../images/svg/YT.svg");
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.3s ease;

            &:hover {
                background: url("../images/svg/YT-black.svg");
                transition: all 0.3s ease;
            }
        }

        &-item {
            min-width: 24px;

            &:not(:first-child) {
                @include adaptiv-marginLeft(30, 20);
            }

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s;
            }
        }
    }

    &__search {
        display: block;
        width: 24px;
        height: 24px;
        background: url("../images/svg/search.svg");
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            background: url("../images/svg/search-black.svg");
            transition: all 0.3s ease;
        }
    }

    &__burger {
        cursor: pointer;
        display: none;
        margin-left: 20px;
    }
}
@media (max-width: 1600px) {
    .header {
        &__nav {
            padding: 0px 50px 0px 0px;
        }
    }
}
@media (max-width: 1400px) {
    .header {
        &__nav {
            padding: 0px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__container {
            padding-top: 10px;
        }
        &__img {
            height: 61px;
        }
        &__title {
            display: none;
        }
        &__nav {
            display: none;
        }
        &__social {
            &-item {
                display: none;
            }
        }
        &__burger {
            display: block;
            margin-left: 25px;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        &__searchingPopup {
            padding: 19px 0px 0px 0px;
        }
        &__searchingList-wrapper {
            max-width: 738px;
            height: 471px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__searchingPopup {
            width: 100%;
        }
        &__searchingCase {
            width: 100%;
            max-width: 738px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__logo {
            max-width: 350px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__title {
            display: none;
        }
        &__img {
            height: 3.81em;
        }
        &__searchingPopup {
            padding-top: 10px;
        }
        &__searchingCase {
            max-width: 343px;
            &__wrapper {
                margin-bottom: 5px;
            }
        }
        // &__searchingList {
        //     ul {
        //         max-width: 270px;
        //     }
        // }
        &__searchingList-wrapper {
            max-width: 343px;
            height: 344px;
        }
        &__searchInput {
            width: 100%;
            max-width: 273px;
            margin-right: 10px;
            padding-right: 0%;
        }
        &__searchBtn {
            margin-right: 0px;
            margin-left: 15px;
        }
    }
}

@media (max-width: 420px) {
    .header {
        &__logo {
            max-width: 200px;
        }
        &__title {
            line-height: 15px;
        }
    }
}
