.otchetAbout {
    @include adaptiv-marginTop(50, 40);

    &__block--line {
        display: flex;
        flex-direction: row;
    }

    .line {
        height: 2px;
        background: #952212;
        margin-top: 25px;
        width: 100%;
    }

    &__headTitle {
        @include adaptiv-font(45, 20);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        line-height: 55px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginBottom(17, 30);
        padding-left: 5%;
        margin-right: 30px;
        white-space: nowrap;
    }

    &__otchetCase {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__otchetPlace {
        padding-bottom: 10px;
        border-bottom: 1px solid #d9d9d9;
        p {
            &:nth-child(1) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #952212;
            }
            &:nth-child(2) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #1b1b1b;
            }
        }
    }

    &__scoreAdaptiv {
        margin-top: 16px;
        display: none;
    }

    &__scoreAdaptivBigNumber {
        display: flex;
        align-items: center;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #952212;
        }
        img {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    &__scoreAdaptivSmallNumber {
        margin-top: 3px;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #952212;
        }
    }

    &__otchetTeam {
        margin-top: 27px;
        display: flex;
    }

    &__otchetFirstTeam {
        @include adaptiv-paddingRight(96, 0);
        margin-right: 0px;
    }

    &__otchetTeamLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiv-marginBottom(40, 12);
        img {
            width: 100%;
            max-width: 90px;
            height: 90px;
            margin-bottom: 10px;
        }
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            @include adaptiv-font(18, 12);
            @include adaptiv-lineHeight(22, 15);
            text-align: center;
            color: #1b1b1b;
            max-width: 223px;
        }
    }

    &__otchetFirstTeamTable {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 355px;
    }

    &__listFirstTeam {
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(18, 12);
            line-height: 22px;
            color: #1b1b1b;
            text-align: left;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 300px;
            @include adaptiv-marginBottom(15, 10);
            &-time {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 100%;
                max-width: 60px;
                margin-right: 14px;
                text-align: left;
            }
            &-player {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                text-decoration-line: underline;
                color: #1b1b1b;
                text-align: left;
                width: 100%;
                max-width: 180px;
            }
            &-score {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                text-align: center;
                color: #1b1b1b;
                width: 100%;
                max-width: 45px;
            }
        }
        &-item:last-of-type {
            margin-bottom: 0px;
        }
    }

    &__ticketFirstTeam {
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 395px;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(18, 12);
            line-height: 22px;
            color: #1b1b1b;
            &:first-child {
                margin-bottom: 10px;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p > b {
                display: block;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 260px;
            }
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 135px;
            }
        }
    }

    &__scoreDesktop {
        margin-top: 46px;
    }

    &__scoreDesktopBigNumber {
        display: flex;
        align-items: center;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #952212;
        }
        img {
            margin-left: 23px;
            margin-right: 23px;
        }
    }

    &__scoreDesktopSmallNumber {
        margin-top: 22px;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #952212;
        }
    }

    &__otchetSecondTeam {
        margin-left: 0px;
        @include adaptiv-paddingLeft(108, 0);
    }

    &__otchetSecondTeamLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiv-marginBottom(40, 12);
        img {
            width: 100%;
            max-width: 90px;
            height: 90px;
            margin-bottom: 10px;
        }
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            @include adaptiv-font(18, 12);
            @include adaptiv-lineHeight(22, 15);
            text-align: center;
            color: #1b1b1b;
            max-width: 230px;
        }
    }

    &__otchetSecondTeamTable {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 355px;
    }

    &__listSecondTeam {
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(18, 12);
            line-height: 22px;
            color: #1b1b1b;
            text-align: left;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 300px;
            @include adaptiv-marginBottom(15, 10);
            &-time {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 100%;
                max-width: 60px;
                margin-right: 14px;
                text-align: left;
            }
            &-player {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                text-decoration-line: underline;
                color: #1b1b1b;
                text-align: left;
                width: 100%;
                max-width: 180px;
            }
            &-score {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                text-align: center;
                color: #1b1b1b;
                width: 100%;
                max-width: 45px;
            }
        }
        &-item:last-of-type {
            margin-bottom: 0px;
        }
    }

    &__ticketSecondTeam {
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 395px;
        overflow-wrap: break-word;
        margin-top: 5px;
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(18, 12);
            line-height: 22px;
            color: #1b1b1b;
            overflow-wrap: break-word;
            &:first-child {
                margin-bottom: 10px;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p > b {
                display: block;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 260px;
                overflow-wrap: break-word;
            }
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18, 10);
                @include adaptiv-lineHeight(22, 12);
                color: #1b1b1b;
                width: 135px;
                overflow-wrap: break-word;
            }
        }
    }
    // Таблицы
    &__gameCompositionCase {
        display: flex;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }

    &__gameCompositionSecond {
        @include adaptiv-marginTop(50, 60);
        width: 40%;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0.1);
        margin-left: 30px;
    }
    &__gameCompositionSecond:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        border: 1px solid rgba(27, 27, 27, 0);
    }

    &__gameCompositionTabs {
        display: none;
    }

    &__gameComposition {
        @include adaptiv-marginTop(50, 60);
        width: 40%;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0.1);
        &-tableComposition {
            @include adaptiv-marginBottom(25, 5);

            padding-bottom: 30px;
        }

        &-rowComposition {
            padding-top: 15px;
            padding-bottom: 15px;
            @include adaptiv-paddingLeft(20, 10);
            @include adaptiv-paddingRight(40, 20);
        }

        &-playComposition {
            width: 40%;
            text-align: left;
            align-self: center;
        }

        &-teamComposition {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
        }

        &-imgComposition {
            width: 60px;
        }

        &-textComposition {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            @include adaptiv-font(18, 12);
            line-height: 150%;
            color: #1b1b1b;
        }

        &-playerComposition {
            white-space: nowrap;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 12);
            line-height: 15px;
            color: #1b1b1b;

            &:hover {
                transition: all 0.3s;
                color: #952212;
            }
        }

        &-allComposition {
            display: flex;
            justify-content: flex-end;
            margin-right: 25px;
            @include adaptiv-marginBottom(31, 16);
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 15);
            line-height: 22px;
            color: #952212;

            &:hover {
                transition: all 0.3s;
                color: #b34030;
            }
        }
    }
    &__gameComposition:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        border: 1px solid rgba(27, 27, 27, 0);
    }

    &__chartComposition {
        width: 100%;
    }

    &__rowComposition {
        @include adaptiv-marginRight(30, 16);
        @include adaptiv-marginLeft(25, 16);
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;

        &--firstComposition {
            margin-top: 11px;
            border-bottom: 1px solid rgba(217, 217, 217, 0.4);
        }

        &--lastComposition {
            @include adaptiv-marginBottom(30, 16);
        }

        &--evenComposition {
            background: rgba(217, 217, 217, 0.2);
        }

        &--titleComposition {
            display: block;
            border-radius: 10px 10px 0px 0px;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            width: 100%;
        }

        &--lastComp {
            margin-bottom: 30px;
        }
    }
    &__rowComposition:last-child {
        margin-bottom: 30px;
    }

    &__titleCompositionTitle {
        display: flex;
        align-self: flex-start;
        justify-content: space-between;
        padding: 30px;
        width: 100%;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(25, 18);
        line-height: 30px;
        color: #ffffff;
        margin-bottom: 39px;
        &--double {
            display: flex;
            justify-content: center;
            padding: 30px 0;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            border-radius: 10px 10px 0px 0px;
        }

        &--tab {
            margin: 0 16px;
            text-align: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(25, 18);
            line-height: 30px;
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;

            &:hover {
                transition: all 0.3s;
                color: #ffffff;
            }

            &_active {
                color: #ffffff;
                border-bottom: 3px solid #ffffff;
            }
        }
    }

    &__commandComposition {
        width: 50%;

        &-textComposition {
            display: flex;
            text-align: left;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 10);
            line-height: 150%;
            color: #1b1b1b;
            align-items: center;
            padding-left: 9px;

            &:hover {
                transition: all 0.3s;
                color: #952212;
            }
        }

        &-imgComposition {
            width: 40px;
            @include adaptiv-marginRight(13, 5);
        }

        &--headComposition {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 15);
            line-height: 150%;
            color: #1b1b1b;
            text-align: left;
        }
    }

    &__pointComposition {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 12);
        line-height: 22px;
        color: #1b1b1b;
        width: 18%;
        text-align: center;
    }

    &__headComposition {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(18, 15);
        line-height: 22px;
        color: #1b1b1b;
        width: 18%;
    }

    &__gameAlign {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__gameCompositionText {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #ffffff;
    }

    &__gameTextSize {
        font-size: 18px;
    }

    &__lastOtchet {
        width: 60%;
        border: 1px solid rgba(27, 27, 27, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
    }

    &__lastOtchet {
        display: none;
    }
    // конец таблиц

    &__bombardier {
        margin-top: 30px;
        width: 60%;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        border: 1px solid rgba(27, 27, 27, 0.1);
        &-table {
            @include adaptiv-marginBottom(25, 5);
        }

        &-row {
            padding-top: 15px;
            padding-bottom: 15px;
            @include adaptiv-paddingLeft(20, 10);
            @include adaptiv-paddingRight(40, 20);
        }

        &-play {
            width: 30%;
            text-align: left;
            align-self: center;
        }

        &-team {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 290px;
        }

        &-case {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 50px;
            max-height: 50px;
        }

        &-text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #1b1b1b;
            text-align: left;
            padding-left: 10px;
        }

        &-player {
            white-space: nowrap;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 12);
            line-height: 15px;
            color: #1b1b1b;

            &:hover {
                transition: all 0.3s;
                color: #952212;
            }
        }

        &-all {
            display: flex;
            justify-content: flex-end;
            margin-right: 25px;
            @include adaptiv-marginBottom(31, 16);
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 15);
            line-height: 22px;
            color: #952212;

            &:hover {
                transition: all 0.3s;
                color: #b34030;
            }
        }
    }
    &__bombardier:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        border: 1px solid rgba(27, 27, 27, 0);
    }

    &__chart {
        width: 100%;
    }

    &__row {
        @include adaptiv-marginRight(30, 16);
        @include adaptiv-marginLeft(25, 16);
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;

        &--first {
            margin-top: 11px;
            border-bottom: 1px solid rgba(217, 217, 217, 0.4);
        }

        &--last {
            @include adaptiv-marginBottom(30, 16);
        }

        &--even {
            background: rgba(217, 217, 217, 0.2);
        }

        &--title {
            display: block;
            border-radius: 10px 10px 0px 0px;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            width: 100%;
        }
    }

    &__title {
        display: flex;
        align-self: flex-start;
        padding: 30px;
        width: 100%;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(25, 18);
        line-height: 30px;
        color: #ffffff;

        &--double {
            display: flex;
            justify-content: center;
            padding: 30px 0;
            background: linear-gradient(
                90.5deg,
                #2660ae -4.69%,
                #0ea1d2 112.03%
            );
            border-radius: 10px 10px 0px 0px;
        }

        &--tab {
            margin: 0 16px;
            text-align: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(25, 18);
            line-height: 30px;
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;

            &:hover {
                transition: all 0.3s;
                color: #ffffff;
            }

            &_active {
                color: #ffffff;
                border-bottom: 3px solid #ffffff;
            }
        }
    }

    &__command {
        width: 50%;

        &-text {
            display: flex;
            text-align: left;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 10);
            line-height: 150%;
            color: #1b1b1b;
            align-items: center;
            padding-left: 9px;

            &:hover {
                transition: all 0.3s;
                color: #952212;
            }
        }

        &-img {
            width: 40px;
            @include adaptiv-marginRight(13, 5);
        }

        &--head {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 800;
            @include adaptiv-font(18, 15);
            line-height: 150%;
            color: #1b1b1b;
            text-align: left;
        }
    }

    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(18, 15);
        line-height: 22px;
        color: #1b1b1b;
    }

    &__point {
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 12);
        line-height: 22px;
        color: #1b1b1b;
    }
}

@media (max-width: 1440px) {
    .otchetAbout {
        &__gameComposition {
            width: 50%;
        }
        &__gameCompositionSecond {
            width: 50%;
        }
        &__headComposition {
            width: 10%;
        }
        &__pointComposition {
            width: 7%;
        }
    }
}

@media (max-width: 1300px) {
    .otchetAbout {
        &__bombardier {
            &-team {
                width: 25%;
                justify-content: center;
            }
            &-text {
                display: none;
            }
        }
    }
}

@media (max-width: 1100px) {
    .otchetAbout {
        &__gameComposition {
            display: none;
            &-playerComposition {
                text-decoration: underline;
            }
        }
        &__gameCompositionSecond {
            display: none;
        }
        &__gameCompositionTabs {
            display: initial;
        }

        &__gameCompositionCase {
            margin-top: 30px;
        }
        &__otchetFirstTeam {
            padding-right: 0px;
        }
        &__otchetSecondTeam {
            padding-left: 0px;
        }
        &__otchetSecondTeamLogo {
            p {
                max-width: 200px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .otchetAbout {
        &__scoreAdaptiv {
            display: initial;
        }

        &__scoreDesktop {
            display: none;
        }

        &__otchetFirstTeam {
            padding-right: 0px;
        }
        &__otchetSecondTeam {
            padding-left: 0px;
            margin-left: 41px;
        }
        &__otchetTeamLogo {
            img {
                width: 69px;
            }
        }
        &__otchetSecondTeamLogo {
            img {
                width: 69px;
            }
        }
        &__rowComposition:last-child {
            margin-bottom: 16px;
        }
        &__total {
            flex-direction: column;
        }
        &__charts--container {
            width: 100%;
            @include adaptiv-marginBottom(40, 25);
            margin-right: 0;
        }
        &__last {
            width: 100%;
        }
        &__scroll {
            height: 400px;
        }
        &__title {
            &--tab {
                &:first-child {
                    @include adaptiv-marginRight(200, 5);
                }
                &:last-child {
                    @include adaptiv-marginLeft(200, 5);
                }
            }
        }
        &__bombardier {
            width: 100%;
            @include adaptiv-marginBottom(40, 25);
            &-team {
                width: 33%;
            }
            &-player {
                text-decoration-line: underline;
            }
        }
        &__lastOtchet {
            width: 100%;
        }
        &__listFirstTeam-item {
            &-time {
                max-width: 30px;
            }
            &-score {
                max-width: 35px;
            }
        }
        &__listSecondTeam-item {
            &-time {
                max-width: 30px;
            }
            &-score {
                max-width: 35px;
            }
        }
        &__ticketFirstTeam {
            width: initial;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
            }
        }
        &__ticketSecondTeam {
            width: initial;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 870px) {
    .otchetAbout {
        &__bombardier {
            &-play {
                width: 25%;
            }
            &-team {
                width: 42%;
            }
        }
    }
}

@media (max-width: 700px) {
    .otchetAbout {
        .container {
            width: 100%;
        }
        &__title {
            &--double {
                justify-content: space-between;
            }
            &--tab {
                &:first-child {
                    margin-right: 0;
                    @include adaptiv-marginLeft(400, 10);
                }
                &:last-child {
                    margin-left: 0;
                    @include adaptiv-marginRight(400, 10);
                }
            }
        }
        &__btns {
            button {
                &:first-child {
                    margin-left: 0px;
                    margin-right: 30px;
                }

                &:last-child {
                    margin-left: 30px;
                    margin-right: 0px;
                }
            }
        }
        &__title {
            padding: 30px 16px;
        }
    }
}

@media (max-width: 620px) {
    .otchetAbout {
        &__bombardier {
            &-play {
                width: 30%;
            }
            &-player {
                white-space: normal;
            }
            &-team {
                width: 30%;
            }
            &-text {
                display: none;
            }
        }
        &__otchetSecondTeamLogo {
            p {
                max-width: 160px;
            }
        }
        &__otchetTeamLogo p {
            max-width: 170px;
        }
        &__otchetFirstTeamTable {
            min-height: 300px;
        }
        &__otchetSecondTeamTable {
            min-height: 300px;
        }
    }
}

@media (max-width: 550px) {
    .stats {
        &__total {
            &--command {
                flex-direction: column;
            }
        }
        &__match {
            width: 100%;
        }
        &__data {
            width: 126px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 500px) {
    .otchetAbout {
        &__otchetSecondTeam {
            margin-left: 0px;
        }

        &__gameComposition {
            &-playerComposition {
                white-space: pre-wrap;
            }
            &-playComposition {
                width: 67%;
            }
        }

        &__btns {
            button {
                &:first-child {
                    margin-left: 0px;
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                    margin-right: 0px;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    .otchetAbout {
        &__otchetTeamLogo img {
            max-width: 60px;
            height: 60px;
        }
        &__otchetSecondTeamLogo img {
            max-width: 60px;
            height: 60px;
        }
        &__listFirstTeam-item {
            max-width: 170px;
            width: initial;
            &-time {
                margin-right: 0px;
            }
            &-player {
                max-width: 115px;
            }
        }
    }
}
@media (max-width: 400px) {
    .otchetAbout {
        &__gameComposition {
            &--teamComposition {
                width: 35%;
            }
        }
        &__gameComposition {
            &-teamComposition {
                width: 100px;
            }
            &-playComposition {
                width: 53%;
            }
        }
        &__headComposition {
            width: 14%;
        }
    }
}
