.news {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    // margin-top: 50px;
    @include adaptiv-marginBottom(75, 60);

    &__container {
        width: 92%;
        margin: 0 auto;
    }

    &__block--line {
        display: flex;
        flex-direction: row;
        @include adaptiv-marginBottom(9, 0);
    }

    .line {
        height: 2px;
        background: #952212;
        margin-top: 25px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(40, 20);
        @include adaptiv-lineHeight(49, 24);
        text-transform: uppercase;
        color: #1b1b1b;
        padding-left: 5%;
        margin-right: 30px;
    }

    &__block {
        display: flex !important;
        flex-direction: row;
        max-width: 845px;
        position: relative;
        background: #ffffff;
        border-radius: 10px;
        min-width: 0;
        padding: 15px 22px 15px 15px;
        min-width: 0;
        border: 1px solid rgba(27, 27, 27, 0.1);
        @include adaptiv-marginRight(25, 8);
    }

    &__news-all {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(20, 17);
        text-decoration-line: underline;
        color: #952212;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;

        &:hover {
            transition: all 0.3s;
            color: #b34030;
        }
    }

    &__block:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        border: 1px solid #ffffff;
    }

    &__image {
        margin-right: 30px;
        max-width: 360px;
        max-height: 240px;
        width: 100%;
        min-width: 0;
    }

    &__img {
        width: 100%;
        max-height: 240px;
        min-width: 0;
    }

    &__text {
        max-width: 442px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(24, 21);
        color: #1b1b1b;
        min-width: 0;
        display: -webkit-box;
        -webkit-line-clamp: 5; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(20, 18);
        @include adaptiv-lineHeight(24, 22);
        font-size: 20px;
        line-height: 24px;
        color: #1b1b1b;
        @include adaptiv-paddingBottom(20, 10);
        color: #1b1b1b;
        min-width: 0;
    }

    &__undertitle {
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }

    &__data {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(20, 17);
        color: rgba(27, 27, 27, 0.5);
        min-width: 0;
    }

    &__next {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(16, 14);
        @include adaptiv-lineHeight(20, 17);
        text-decoration-line: underline;
        color: #952212;
        min-width: 0;

        &:hover {
            transition: all 0.3s;
            color: #b34030;
        }
    }

    &__newsWrap {
        display: flex;
        align-items: center;
        position: relative;
        height: 35px;
        &-right {
            position: absolute;
            right: 1.5%;
            top: 0px;
        }
    }

    &__arrows {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 49.8%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (max-width: 1900px) {
    .news__newsWrap-right {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .news {
        margin-bottom: 40px;
        &__container {
            width: 100%;
            margin: 0 auto;
            padding-left: 0px;
            padding-right: 0px;
        }
        &__image {
            max-width: 296px;
            max-height: 197px;
            margin-right: 20px;
        }
        &__img {
            max-height: 197px;
        }
        &__block {
            padding: 15px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
            max-width: 383px;
            overflow-wrap: break-word;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
            max-width: 383px;
            overflow-wrap: break-word;
            -webkit-line-clamp: 3;
        }
        &__undertitle {
            max-width: 383px;
            overflow-wrap: break-word;
        }
        &__data {
            font-size: 16px;
            line-height: 20px;
        }
        &__next {
            font-size: 16px;
            line-height: 20px;
        }
        &__head {
            font-size: 30px;
            line-height: 37px;
            padding-left: 16px;
        }
        &__block--line {
            margin-bottom: 0px;
        }
        .slider--n .slick-list {
            padding: 0px 15px 0px 35px;
            min-height: 260px;
        }
        .line {margin-top: 15px;}
        .news-dots {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .news-dots li {
            list-style: none;
            height: 20px;
        }
        /* Активная точка */
        .news-dots button {
            font-size: 0;
            width: 8px;
            height: 8px;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }

        .news-dots li.slick-active button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }

        .news-dots {
            margin-top: 0px;
            margin-left: 13px;
        }
        .news-dots li {
            list-style: none;
            margin-right: 10px;
        }
        .news-dots li:not(:nth-child(-n + 4)) {
            display: none;
        }
        .news-dots li:nth-child(4) {
            list-style: none;
            margin-right: 15px;
        }
        .news-dots li:nth-child(1) button {
            width: 12px;
            height: 12px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .news-dots li.slick-active:nth-child(1) button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }
        .news-dots li:nth-child(2) button {
            width: 8px;
            height: 8px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .news-dots li.slick-active:nth-child(2) button {
            background: #952212;
            border: 1px solid #952212;
            width: 8px;
            height: 8px;
        }
        .news-dots li:nth-child(3) button {
            width: 6px;
            height: 6px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .news-dots li.slick-active:nth-child(3) button {
            background: #952212;
            border: 1px solid #952212;
            width: 6px;
            height: 6px;
        }
        .news-dots li:nth-child(4) button {
            width: 4px;
            height: 4px;
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }
        .news-dots li.slick-active:nth-child(4) button {
            background: #952212;
            border: 1px solid #952212;
            width: 4px;
            height: 4px;
        }
        .news-dots button {
            font-size: 0;
            background: #ffffff;
            border: 1px solid #1b1b1b;
            border-radius: 50%;
            transition: all 0.3s;
        }

        .news-dots li.slick-active button {
            background: #952212;
            border: 1px solid #952212;
            width: 12px;
            height: 12px;
        }

        // &__newsWrap {
        //     position: relative;
        //     margin-top: 23px;
        //     display: initial;
        //     align-items: initial;
        //     position: initial;
        //     height: initial;
        //     &-right {
        //         position: absolute;
        //         right: 5.4%;
        //         top: 12px;
        //     }
        // }
        // &__block {
        //     flex-direction: column;
        //     max-width: 500px;
        // }

        // &__img {
        //     margin-bottom: 15px;
        // }

        // &__content {
        //     height: 100%;
        // }

        // &__image {
        //     padding-right: 0;
        // }
        // &__news {
        //     &-all {
        //         margin-top: 20px;
        //     }
        // }
    }
    // .slider--n .slick-list {
    //     padding: 30px 15px 0px 10px !important;
    // }
}

// @media (max-width: 700px) {
//     .news {
//         .news__block.slick-slide {
//             width: 324px !important;
//         }
//     }
// }

// @media (max-width: 500px) {
//     .news {
//         &__container {
//             width: 100%;
//         }
//         &__block {
//             padding: 16px;
//         }
//         &__image {
//             margin-bottom: 15px;
//         }
//         &__news-all {
//             justify-content: flex-end;
//             margin-right: 16px;
//             margin-top: 0px;
//         }
//         .slider--n .slick-list {
//             padding: 30px 15px 20px 15px !important;
//         }
//     }
// }
