.news {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 50px;
    @include adaptiv-marginBottom(100, 60);

    &__container {
        width: 90%;
        margin: 0 auto;
    }

    &__block--line {
        display: flex;
        flex-direction: row;
    }

    .line {
        height: 2px;
        background: #952212;
        margin-top: 25px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__head {
        @include adaptiv-font(45, 20);
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        line-height: 55px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginBottom(50, 0);
        padding-left: 5%;
        margin-right: 30px;
    }

    &__block {
        display: flex;
        flex-direction: row;
        max-width: 1027px;
        position: relative;
        background: #ffffff;
        border-radius: 20px;
        min-width: 0;
        padding: 25px 30px 25px 25px;
        min-width: 0;
        border: 1px solid rgba(27, 27, 27, 0.1);
        @include adaptiv-marginRight(30, 14);
    }

    &__news-all {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
        line-height: 22px;
        color: #952212;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        margin-right: 25px;
        margin-top: 15px;

        &:hover {
            transition: all 0.3s;
            color: #b34030;
        }
    }

    &__block:hover {
        box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
        border: 1px solid #ffffff;
    }

    &__image {
        padding-right: 30px;
        max-width: 500px;
        width: 100%;
        min-width: 0;
    }

    &__img {
        width: 100%;
        min-width: 0;
    }

    &__text {
        max-width: 442px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        @include adaptiv-paddingBottom(50, 7);
        line-height: 150%;
        color: #1b1b1b;
        min-width: 0;
    }

    &__title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(25, 18);
        @include adaptiv-paddingBottom(20, 10);
        @include adaptiv-lineHeight(30, 22);
        letter-spacing: 0.01em;
        color: #1b1b1b;
        min-width: 0;
    }

    &__undertitle {
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }

    &__data {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        line-height: 150%;
        color: rgba(27, 27, 27, 0.5);
        min-width: 0;
    }

    &__next {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(18, 15);
        line-height: 150%;
        color: #952212;
        min-width: 0;

        &:hover {
            transition: all 0.3s;
            color: #b34030;
        }
    }

    &__arrows {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1067px) {
    .news {
        &__block {
            flex-direction: column;
            max-width: 500px;
        }

        &__image {
            padding-right: 0;
        }
    }
    .slider--n .slick-list {
        padding: 30px 15px 30px 10px !important;
    }
}

@media (max-width: 500px) {
    .news {
        &__container {
            width: 100%;
        }
        &__block {
            padding: 16px;
        }
        &__image {
            margin-bottom: 15px;
        }
        &__news-all {
            justify-content: flex-end;
            margin-right: 0px;
            margin-top: 0px;
        }
        .news__block.slick-slide {
            width: 324px !important;
        }
        .slider--n .slick-list {
            padding: 30px 15px 25px 15px !important;
        }
    }
}
