.margins {
    &__container {
        margin-top: -80px;
    }
}

@media (max-width: 1200px) {
    .margins {
        &__container {
            margin-top: -37px;
        }
    }
}

@media (max-width: 767px) {
    .margins {
        &__container {
            margin-top: -17px;
        }
    }
}
