.footer {
    background: linear-gradient(85.27deg, #2660ae 13.99%, #0ea1d2 127.55%);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        border-bottom: 1px solid #d9d9d9;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 19px;
        width: 89.271%;
    }

    &__title {
        display: flex;
        align-items: center;
        &__case {
            display: flex;
            align-items: center;
        }
    }

    &__name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(18, 16);
        @include adaptiv-lineHeight(22, 20);
        color: #ffffff;
        max-width: 293px;
        margin-left: 5px;
    }

    &__img {
        &:not(:last-child) {
            margin-right: 47px;
        }
    }

    &__img1 {
        height: 120px;
        width: 100px;
        background: url("../images/footer/logo1.svg");
        background-repeat: no-repeat;
        &:hover {
            background: url("../images/footer/logo1-hover.svg");
            cursor: pointer;
            transition: all 0.3s;
        }
    }

    &__img2 {
        margin-right: 47px;
        height: 120px;
        width: 136px;
        background: url("../images/footer/logo2.svg");
        background-repeat: no-repeat;
        &:hover {
            background: url("../images/footer/logo2-hover.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s;
        }
    }

    &__img3 {
        height: 120px;
        width: 120px;
        background: url("../images/footer/logo3.svg");
        background-repeat: no-repeat;
        &:hover {
            background: url("../images/footer/logo3-hover.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s;
        }
    }

    &__img4 {
        height: 120px;
        width: 180px;
        background: url("../images/footer/logo4.svg");
        background-repeat: no-repeat;
        background-position: center center;
        &:hover {
            background: url("../images/footer/logo4-hover.svg");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            transition: all 0.3s;
        }
    }

    &__info {
        display: flex;
        &-address {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 25px;
            p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(16, 16);
                @include adaptiv-lineHeight(20, 20);
                text-align: right;
                color: #ffffff;
                width: 100%;
                max-width: 210px;
                overflow-wrap: break-word;
            }
        }

        &__adress:hover {
            color: #ebebeb;
            cursor: pointer;
        }
        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &-tel {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: #ffffff;
            }

            &-tel:hover {
                color: #ebebeb;
            }

            &-mail {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                color: #ffffff;
            }

            &-mail:hover {
                color: #ebebeb;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        padding-right: 30px;
        &-media {
            margin-right: 20px;
        }
    }

    &__bottom {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(16, 12);
        @include adaptiv-lineHeight(20, 15);
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        @include adaptiv-paddingTop(20, 20);
    }
}

@media (max-width: 1100px) {
    .footer {
        &__container {
            flex-direction: column;
            width: 95.271%;
        }
        &__title {
            &__case {
                width: 100%;
                flex-direction: column;
                margin-bottom: 40px;
            }
        }
        &__logo {
            margin-bottom: 5px;
        }
        &__name {
            margin-left: 0px;
            max-width: 280px;
            text-align: center;
        }
        &__social {
            padding-right: 0px;
            margin-bottom: 40px;
            &-media:last-child {
                margin-right: 0px;
            }
        }
        &__info {
            flex-direction: column;
            &-address {
                padding-right: 0px;
                align-items: center;
                margin-bottom: 15px;
                p {
                    text-align: center;
                }
            }
            &-contacts {
                align-items: center;
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
        &__container {
            width: 91.271%;
        }
    }
}
