.team {
    @include adaptiv-paddingTop(40, 20);

    &__title {
        display: flex;
        align-items: center;
        @include adaptiv-marginBottom(40, 15);
    }

    &__name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(40, 20);
        @include adaptiv-lineHeight(49, 26);
        text-transform: uppercase;
        color: #1b1b1b;
        white-space: nowrap;
        @include adaptiv-marginRight(30, 15);
        padding-left: 5%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiv-marginBottom(80, 30);
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiv-marginBottom(20, 10);
    }

    &__imgWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiv-marginRight(30, 20);
        width: 100%;
        max-width: 150px;
        height: 150px;
    }

    &__logo {
        width: 130px;
        height: 130px;
    }

    &__text {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #1f1412;
        width: 100%;
        max-width: 403px;
    }

    &__wrapper {
        width: 100%;
    }

    &__wrap {
        width: 90%;
        max-width: 1920px;
        display: flex;
        justify-content: center;
        &__photo {
            width: 100%;
            max-width: 904px;
            height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            &-img {
                border-radius: 10px;
                height: 100%;
                max-height: 600px;
            }
        }
    }
}
@media (max-width: 1100px) {
    .team {
        &__name {
            font-size: 30px;
            line-height: 37px;
            padding-left: 16px;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__description {
            margin-bottom: 20px;
        }
        &__wrapper {
            width: 100%;
            max-width: 730px;
        }
        &__text {
            max-width: 550px;
        }
        &__wrap {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            &__photo {
                height: 485px;
                &-img {
                    max-height: initial;
                    height: 485px;
                    width: 100%;
                    max-width: 730px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .team {
        &__title {
            flex-wrap: nowrap;
        }
        &__name {
            @include adaptiv-font(40, 20);
            @include adaptiv-lineHeight(49, 26);
            width: 380px;
            overflow-wrap: normal;
            white-space: normal;
            flex-shrink: 0;
        }
        &__line {
            flex: 1;
        }
        &__description {
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;
        }
        &__imgWrap {
            height: 100px;
            max-width: 100px;
            margin-right: 0px;
        }
        &__wrap__photo {
            height: initial;
            &-img {
                height: initial;
            }
        }
        &__logo {
            width: 90px;
            height: 90px;
        }
        &__text {
            @include adaptiv-font(16, 14);
            @include adaptiv-lineHeight(24, 21);
            max-width: initial;
        }
        &__description {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 740px) {
    .team {
        &__name {
            width: 375px;
        }
    }
}

@media (max-width: 685px) {
    .team {
        &__name {
            width: 365px;
        }
    }
}

@media (max-width: 630px) {
    .team {
        &__name {
            width: 355px;
        }
    }
}

@media (max-width: 575px) {
    .team {
        &__name {
            width: 345px;
        }
    }
}

@media (max-width: 545px) {
    .team {
        &__name {
            width: 340px;
        }
    }
}

@media (max-width: 520px) {
    .team {
        &__name {
            width: 335px;
        }
    }
}

@media (max-width: 491px) {
    .team {
        &__name {
            width: 330px;
        }
    }
}

@media (max-width: 463px) {
    .team {
        &__name {
            width: 325px;
        }
    }
}

@media (max-width: 435px) {
    .team {
        &__name {
            width: 320px;
        }
    }
}

@media (max-width: 408px) {
    .team {
        &__name {
            width: 315px;
        }
    }
}

@media (max-width: 379px) {
    .team {
        &__name {
            width: 310px;
        }
    }
}
