.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */

/* Коннкретный слайдер */
.slider--n {
    position: relative;
    .slick-list {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 300px;
        padding: 31px 15px 25px 30px;
    }
    .slick-track {
        align-items: stretch;
        justify-content: stretch;
    }
}

.news__arrows .slick-arrow.slick-prev {
    font-size: 0;
    background: url("../images/svg/pagination-left.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    margin-right: 10px;
    cursor: pointer;
}

.news__arrows .slick-arrow.slick-prev:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-lhover.svg") 0 0 / 100% no-repeat;
}

.news__arrows .slick-arrow.slick-next {
    font-size: 0;
    background: url("../images/svg/pagination-right.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.news__arrows .slick-arrow.slick-next:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-rhover.svg") 0 0 / 100% no-repeat;
}


.news-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-dots li {
    list-style: none;
    display: flex;
    align-items: center;
}
/* Активная точка */
.news-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #1b1b1b;
    border-radius: 50%;
    transition: all 0.3s;
}

.news-dots li.slick-active button {
    background: #952212;
    border: 1px solid #952212;
    width: 12px;
    height: 12px;
}


@media (max-width: 1500px) {
    .slider--n {
        .slick-list {
            padding: 31px 15px 25px 25px;
        }
    }
}