.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
}
/* Слайд */

/* Коннкретный слайдер */
.slider--rhl {
    position: relative;
    .slick-list {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 665px;
        padding: 0px 0px 0px 0px !important;
    }
}

.news--rhl__arrows .slick-arrow.slick-prev {
    font-size: 0;
    background: url("../images/svg/pagination-left.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    margin-right: 10px;
    cursor: pointer;
}

.news--rhl__arrows .slick-arrow.slick-prev:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-lhover.svg") 0 0 / 100% no-repeat;
}

.news--rhl__arrows .slick-arrow.slick-next {
    font-size: 0;
    background: url("../images/svg/pagination-right.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.news--rhl__arrows .slick-arrow.slick-next:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-rhover.svg") 0 0 / 100% no-repeat;
}

.slider--rhl .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.slider--rhl .slick-dots li {
    list-style: none;
    display: flex;
    align-items: center;
}
/* Активная точка */
.slider--rhl .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #1b1b1b;
    border-radius: 50%;
    transition: all 0.3s;
}

.slider--rhl .slick-dots li.slick-active button {
    background: #952212;
    border: 1px solid #952212;
    width: 12px;
    height: 12px;
}
