.slider-photo__arrows .slick-arrow.slick-prev {
    font-size: 0;
    background: url("../images/svg/pagination-left.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    margin-right: 10px;
    cursor: pointer;
}

.slider-photo__arrows .slick-arrow.slick-prev:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-lhover.svg") 0 0 / 100% no-repeat;
}

.slider-photo__arrows .slick-arrow.slick-next {
    font-size: 0;
    background: url("../images/svg/pagination-right.svg") 0 0 / 100% no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slider-photo__arrows .slick-arrow.slick-next:hover {
    transition: all 0.3s ease;
    background: url("../images/svg/pagination-rhover.svg") 0 0 / 100% no-repeat;
}

.slider-photo .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-photo .slick-dots li {
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.slider-photo .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #1b1b1b;
    border-radius: 50%;
    transition: all 0.3s;
}

.slider-photo .slick-dots li.slick-active button {
    background: #952212;
    border: 1px solid #952212;
    width: 12px;
    height: 12px;
}
