.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include adaptiv-marginTop(150, 60);
    @include adaptiv-marginBottom(225, 100);

    &__container {
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 100%;
            max-width: 381px;
            height: 227.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            border: 1px solid rgba(27, 27, 27, 0.1);
            border-radius: 10px;
            transition: all 0.3s;
            margin-right: 62px;
            &-mobile {
                display: none;
            }
        }
        &-item:last-child {
            margin-right: 0px;
        }
        &-item:hover {
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
            transition: all 0.3s;
        }
    }

    &__img {
        position: absolute;
        top: -40px;
        right: 20px;
    }

    &__block--line {
        display: flex;
        flex-direction: row;
    }

    .line {
        height: 2px;
        background: #952212;
        margin-top: 25px;
        width: 100%;
    }

    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(45, 20);
        @include adaptiv-lineHeight(55, 24);
        letter-spacing: 0.01em;
        color: #1b1b1b;
        @include adaptiv-marginBottom(50, 30);
        padding-left: 5%;
        margin-right: 30px;
    }

    &__text {
        max-width: 442px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        line-height: 150%;
        color: #1b1b1b;
        min-width: 0;
        padding-left: 40px;
        padding-right: 10px;
    }

    &__btn {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(18, 15);
        @include adaptiv-marginTop(40, 25);
        @include adaptiv-marginBottom(57, 40);
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        background: #ffffff;
        border: 2px solid #952212;
        border-radius: 5px;
        padding: 22px 60px;
        margin-left: 40px;
        transition: all 0.3s ease 0s;
    }

    &__btn:hover {
        background: #952212;
        color: #ffffff;
    }
}

@media (max-width: 1900px) {
    .projects {
        &__container {
            &-item {
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 1750px) {
    .projects {
        &__container {
            width: 60%;
            justify-content: center;
            &-item {
                margin-right: 62px;
                margin-bottom: 20px;
            }
            &-item:nth-child(2n) {
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 1410px) {
    .projects {
        &__container {
            width: 90%;
        }
    }
}

@media (max-width: 950px) {
    .projects {
        &__container {
            width: 65%;
            &-item {
                max-width: 166.5px;
                height: 170px;
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .projects {
        &__container {
            width: 90%;
            &-item {
                max-width: 166.5px;
                height: 170px;
                &-desktop {
                    display: none;
                }
                &-mobile {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .projects {
        &__container {
            &-item {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 400px) {
    .projects {
        &__container {
            width: 100%;
            &-item {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 365px) {
    .projects {
        &__container {
            width: 95%;
            &-item {
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
    }
}
