.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__container {
        &-desktop {
            width: 100%;
            padding-left: 5%;
            padding-right: 6%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-item {
                width: 100%;
                max-width: 408.75px;
                height: 227.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                border: 1px solid rgba(27, 27, 27, 0.1);
                border-radius: 10px;
                transition: all 0.3s;
                &-mobile {
                    display: none;
                }
            }
            &-item:last-child {
                margin-right: 0px;
            }
            &-item:hover {
                cursor: pointer;
                border: 1px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0px 4px 30px rgba(6, 110, 174, 0.2);
                transition: all 0.3s;
            }
        }
        &-slider {
            display: none;
        }
    }
    &__img {
        position: absolute;
        top: -40px;
        right: 20px;
    }
    &__block--line {
        display: flex;
        align-items: center;
        flex-direction: row;
        @include adaptiv-marginBottom(39.5, 30);
    }
    .line {
        height: 2px;
        background: #952212;
        width: 100%;
    }
    &__head {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(40, 20);
        @include adaptiv-lineHeight(49, 24);
        text-transform: uppercase;
        color: #1b1b1b;
        padding-left: 5%;
        margin-right: 30px;
    }
    &__text {
        max-width: 442px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        line-height: 150%;
        color: #1b1b1b;
        min-width: 0;
        padding-left: 40px;
        padding-right: 10px;
    }
    &__btn {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        @include adaptiv-font(18, 15);
        @include adaptiv-marginTop(40, 25);
        @include adaptiv-marginBottom(57, 40);
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        background: #ffffff;
        border: 2px solid #952212;
        border-radius: 5px;
        padding: 22px 60px;
        margin-left: 40px;
        transition: all 0.3s ease 0s;
    }
    &__btn:hover {
        background: #952212;
        color: #ffffff;
    }
}

@media (max-width: 1900px) {
    .projects {
        &__container {
            &-desktop {
                &-item {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media (max-width: 1850px) {
    .projects {
        &__container {
            &-desktop {
                display: none;
            }
            &-slider {
                display: flex;
                &-item {
                    width: 100%;
                    max-width: 381px;
                    height: 227.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ffffff;
                    border: 1px solid rgba(27, 27, 27, 0.1);
                    border-radius: 10px;
                    transition: all 0.3s;
                    margin-right: 62px;
                }
                .slick-list {
                    padding-left: 5%;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .projects {
        &__head {
            font-size: 30px;
            line-height: 37px;
            padding-left: 16px;
        }
        &__block--line {
            margin-bottom: 20px;
        }
        &__container {
            &-slider {
                flex-direction: column;
                &-item {
                    max-width: 354.25px;
                    height: 227.5px;
                    margin-right: 20px;
                    img {
                        max-width: initial;
                        height: 180px;
                    }
                }
                .projects-dots {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 13px;
                    margin-left: 13px;
                }
                .projects-dots li {
                    list-style: none;
                    height: 20px;
                    display: flex;
                    align-items: center;
                }
                .projects-dots button {
                    font-size: 0;
                    width: 8px;
                    height: 8px;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                .projects-dots li.slick-active button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 12px;
                    height: 12px;
                }
                .projects-dots li {
                    list-style: none;
                    margin-right: 10px;
                }
                .projects-dots li:not(:nth-child(-n + 4)) {
                    display: none;
                }
                .projects-dots li:nth-child(4) {
                    list-style: none;
                    margin-right: 15px;
                }
                .projects-dots li:nth-child(1) button {
                    width: 12px;
                    height: 12px;
                    font-size: 0;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                .projects-dots li.slick-active:nth-child(1) button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 12px;
                    height: 12px;
                }
                .projects-dots li:nth-child(2) button {
                    width: 8px;
                    height: 8px;
                    font-size: 0;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                .projects-dots li.slick-active:nth-child(2) button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 8px;
                    height: 8px;
                }
                .projects-dots li:nth-child(3) button {
                    width: 6px;
                    height: 6px;
                    font-size: 0;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                .projects-dots li.slick-active:nth-child(3) button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 6px;
                    height: 6px;
                }
                .projects-dots li:nth-child(4) button {
                    width: 4px;
                    height: 4px;
                    font-size: 0;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }
                .projects-dots li.slick-active:nth-child(4) button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 4px;
                    height: 4px;
                }
                .projects-dots button {
                    font-size: 0;
                    background: #ffffff;
                    border: 1px solid #1b1b1b;
                    border-radius: 50%;
                    transition: all 0.3s;
                }

                .projects-dots li.slick-active button {
                    background: #952212;
                    border: 1px solid #952212;
                    width: 12px;
                    height: 12px;
                }
            }
        }
        .projects__container-slider .slick-list {
            padding-left: 27px;
        }
    }
}
@media (max-width: 767px) {
    .projects__container-slider {
        padding-left: 16px;
    }
    .projects__container-slider-item {
        max-width: 250px;
        height: 174px;
        margin-right: 8px;
        img {
            height: 150px;
        }
    }
    .projects .projects__container-slider .slick-list {
        padding-left: 0px;
    }
    .projects__head {
        @include adaptiv-font(40, 20);
        @include adaptiv-lineHeight(49, 24);
        padding-left: 16px;
        margin-right: 20px;
    }
    .projects__container-slider .projects-dots {
        margin-top: 12px;
        margin-left: 0px;
    }
}
